<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.0.7021.0">
	<relyingPartySettings additionalScopes="groups">
		<claimsToRolesMappings>
			<add claimType="https://example.com/isBackendUser" claimValue="true" mappedRoles="BackendUsers, Editors" name="https://example.com/isBackendUser" />
		</claimsToRolesMappings>
	</relyingPartySettings>
	<securityTokenServiceSettings>
		<identityServerSettings>
			<identityServerClients>
				<add allowedScopes="openid profile rememberMe groups" clientName="sitefinity" config:flags="1" />
				<add clientId="testapiclient" enabled="True" flow="ClientCredentials" allowAccessToAllScopes="True" clientName="testapiclient">
					<clientSecrets>
						<add clientSecret="123456" />
					</clientSecrets>
				</add>
			</identityServerClients>
			<scopes>
				<add displayName="groups" claims="https://example.com/isBackendUser" name="groups" />
			</scopes>
		</identityServerSettings>
		<authenticationProviders>
			<remove name="WindowsAuthentication" />
			<remove name="ADFS" />
			<remove name="Facebook" />
			<remove name="Google" />
			<remove name="Microsoft" />
			<remove name="Twitter" />
			<remove name="LinkedIn" />
			<remove name="GitHub" />
			<add title="CustomSTS with acr_values" enabled="True" clientId="z2bvkH2ozZyW2Um0HUXHkdJati8QRqM5" issuer="https://dimangulov.eu.auth0.com/" redirectUri="https://localhost:44302/Sitefinity/Authenticate/OpenID/signin-custom" responseType="id_token" scope="openid profile rememberMe email" caption="CAPTION" name="CustomSTS" />
			<add clientId="z2bvkH2ozZyW2Um0HUXHkdJati8QRqM5" authority="https://dimangulov.eu.auth0.com/" metadataAddress="https://dimangulov.eu.auth0.com/.well-known/openid-configuration" redirectUri="http://localhost:52115/Sitefinity/Authenticate/OpenID/signin-custom" callbackPath="/Sitefinity/Authenticate/OpenID/signin-custom" postLogoutRedirectUri="http://localhost:52115" enabled="True" name="OpenIDConnect" config:flags="1" />
		</authenticationProviders>
	</securityTokenServiceSettings>
</authenticationConfig>