<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.0.7021.0" multilingual="True">
	<cultures>
		<add culture="ru" uiCulture="ru" key="russian-ru" />
	</cultures>
</resourcesConfig>