<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.0.7021.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="6300A6AE31F8BA9A0FAF7F4C765F9571628C2B60EE7BE37DFCF10B5738FE6D6ABD0F8CBD257879092B33CFB336F978915F96F53D05BFFC509C4FC88463B9EEEF" decryptionKey="33FFE6B5A0AA670CCFF93C2C51863BB2582B3A8B29A67CC943334F411ADA46C5" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="2686170E7A75D131BAF4A2671B91E97E54E20D1A60C68F8690E0046C52ED3C47" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="2686170E7A75D131BAF4A2671B91E97E54E20D1A60C68F8690E0046C52ED3C47" realm="http://localhost" />
	</relyingParties>
</securityConfig>